<div class="ui container">
  <br />
  <h2>Start Your Free Demo</h2>
<div class="ui form">
  <%= form_for @demo do |f| %>
  <div class="ui dividing header">Name</div>
  <div class="two fields">
    <div class="field">
      <%= f.text_field :first_name, placeholder: "First Name", name: "first_name" %>
    </div>
    <div class="field">
      <%= f.text_field :last_name, placeholder: "Last Name", name: "last_name" %>
    </div>
  </div>
  <div class="ui dividing header">Account</div>
  <div class="two fields">
    <div class="ten wide field">
      <%= f.text_field :email, placeholder: "Email", name: "email" %>
    </div>
    <div class="six wide field">
      <%= f.password_field :password, placeholder: "Password (Hidden)", name: "password" %>
    </div>
  </div>
  <div class="ui dividing header">Project Information</div>
  <div class="two fields">
  <div class="field">
    <%= f.text_field :project_name, placeholder: "Project Name", name: "project_name" %>
  </div>
  <div class="field">
  <%= f.text_field :organization_name, placeholder: "Organization Name", name: "organization_name" %>
  </div>
</div>
  <%= f.submit @submit, :class => 'ui green submit button' %>
  <div class="ui error message"></div>
  <% end %>
</div>
<br />
<div class="ui bottom attached warning message">
  <i class="icon help"></i>
  Already signed up? <a href="#">Login here</a> instead.
</div>
</div>

<script>
$email = $('.get.ui form'),
  email = $email.form('get value', 'email');
console.log(email);
$('.ui.form')
  .form({
    fields: {
      first_name: {
        identifier: 'first_name',
        rules: [
          {
            type   : 'empty',
            prompt : 'First Name must have a value'
          }
        ]
      },
      last_name: {
        identifier: 'last_name',
        rules: [
          {
            type   : 'empty',
            prompt : 'Last Name must have a value'
          }
        ]
      },
      email: {
        identifier: 'email',
        rules: [
          {
            type   : 'empty',
            prompt : 'Email must have a value'
          }
        ]
      },
      password: {
        identifier: 'password',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please enter a password'
          },
          {
            type   : 'minLength[6]',
            prompt : 'Your password must be at least {ruleValue} characters'
          }
        ]
      },
      project_name: {
        identifier: 'project_name',
        rules: [
          {
            type   : 'empty',
            prompt : 'Project Name must have a value'
          }
        ]
      },
      organization_name: {
        identifier: 'organization_name',
        rules: [
          {
            type   : 'empty',
            prompt : 'Organization Name must have a value'
          }
        ]
      }
    },
    inline : true,
    on     : 'blur'
  })
;
</script>
